<html>

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportsera</title>
    <link rel="stylesheet" href="../bookingstyle.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/allstyle.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">   
    
    <script  src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/require.js"></script>
    <script src="../js/bookingscript.js"></script>
</head>

<body>       
  <div>WELCOME TO BOOKINGS PORTAL</div>
  <br><br>
     
  <select class="dropdown" id="Location">
    <option class="options" value="Chennai">Chennai</option>
    <option class="options" value="Bangalore">Bangalore</option>
    <option class="options" value="Vellore">Vellore</option>
    <option class="options" value="katpadi">Katpadi</option>
  </select>
  <select class="dropdown" id="Slot">
    <option class="options" value="1">6:00am-8:00am</option>
    <option class="options" value="2">10:00am-12:00am</option>
    <option class="options" value="3">2:00pm-4:00pm</option>
    <option class="options" value="4">6:00pm-8:00pm</option>
  </select>
  <select class="dropdown" id="Sport">
    <option class="options" value="Football">Football</option>
    <option class="options" value="Cricket">Cricket</option>
    <option class="options" value="Badminton">Badminton</option>
    <option class="options" value="Hockey">Hockey</option>
    <option class="options" value="Squash">Squash</option>
    <option class="options" value="Tennis">Tennis</option>
  </select>

  
  <br><br><br>

  <input type="submit" onclick="test3()">
  <p id="inserthere"></p>
  <br><br><br>

</body> 
</html>