<html>

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportsera</title>
    <link rel="stylesheet" href="../bookingstyle.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/allstyle.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">   
    
    <script  src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/require.js"></script>
    <script src="../js/gstaffmaintainancescript.js"></script>
</head>

<body>       
  <div>WELCOME TO MAINTAINANCE PORTAL</div>
  <br><br>
     
  

  
  <br><br><br>

  <input type="submit" onclick="test7()">
  <p id="heading"></p>
  <p id="inserthere"></p>
  <p id="inserthere2"></p>
  <p id="inserthere3"></p>
  <p id="inserthere4"></p>
  <p id="inserthere5"></p>
  <br><br><br>

</body> 
</html>