<html>

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportsera</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    
    <link rel="stylesheet" href="css/signupstyle.css">
    <script  src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/require.js"></script>
    <script src="../js/signupscript.js"></script> 

    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head> 



<body>
	
	
	<div id="signupbox" class="w3-animate-zoom">
		<div id="signuptext">Sign Up</div>
		<div id="subtext"> please fill in to create an account!</div>
		<div id="line"> <div><br>
	
		<div id="details">
  
  <input type="text" name="username" class="box1" id="firstname" value="First name">
  
  <input type="text" name="username" class="box1" id="lastname" value="Last Name"><br><br><br>
  
  <input type="text" name="username" class="box1" id="username" value="User name"><br><br>
  
  <input type="text" name="username" class="box1" id="mobileno" value="mobile number"><br><br>
  
  <input type="text" name="username" class="box1" id="address1" value="Address line1">
  
  <input type="text" name="username" class="box1" id="address2" value="Address line2"><br><br><br>
  
  <input type="text" name="username" class="box1" id="address3" value="Address line3">
  
  <input type="text" name="username" class="box1" id="zipcode" value="Zipcode"><br><br><br>
  
  <input type="password" name="password" class="box1" id="password1" value="Password"><br><br>
  <input type="checkbox" name="vehicle3" value="Boat" id="tc"> I accept the terms of use and privacy policy<br><br>
  
  <div id="submitbutton">
  <input type = "button" name="data" id="buttonconfig" onclick="test2()" value="Submit">
</div>
</div>
</div>

	

</body>
</html>